 *{
    padding: 0;
    margin: 0;
}
.showcase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% 100% ;
    background-image : linear-gradient(0deg,rgba(255, 228, 196, 0.605),rgba(255, 228, 196, 0.605)), url("https://th.bing.com/th/id/R.c2bfa7f3a13c11b822c1704642ebd6e0?rik=AjOkGoldv3Ub4A&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fpyramid-transparent%2fpyramid-transparent-11.png&ehk=yMdaZZtxMcl%2f2NIuU6VVQliwvFv143JqEcPxMPzj5aU%3d&risl=1&pid=ImgRaw&r=0");
    background-attachment : fixed;
    background-repeat:no-repeat ;

}
p {
text-indent: 30px;
padding: 15px;
}
li {
    font-size: 40px;
}
 p.body {
    text-align: left;
 }

 a {
    padding: 15px;
 }

 .bg-img-prg{
    margin-bottom: 10px;
    margin-left: 15px;
 }
.image {
    margin-top: 20px;
    margin-bottom:10px ;
    
}

    
 .image23 {
        margin-top: 20px;
    margin-bottom:10px ;
    display:flex;
    
    }
.image23{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px , 1fr));
        grid-gap: 30px;
    }
.image23 div img {
    width: 100%;
    border-radius: 10px;
}
.image4{
    margin-top: 20px;
    margin-bottom:10px ;

}
.image3{
    margin-top: 20px;
    margin-bottom:10px ;
}
.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-msg h2 {
    font-size: 28px;
    font-weight: 500;
}
img {
    border: 3px solid#8f3e00 ;
    border-radius: 15px;
}
